<div class="abalogin">
    <div id="backbody">
        <div id="titlelogin">
            <a  id="loginicon"><img src="\assets\Images\icons\person-circle.svg" alt="Área do Usuário"></a>
            <h1>ÁREA DE LOGIN/CADASTRO</h1>
        </div>
        <div class="boxlogin">
            <form (ngSubmit)="receberDados()" >

                <div class="campo-label">
                    <input class="form-control form-login" type="email" name="email" id="email" placeholder="E-mail *" [(ngModel)]="userModel.email" >
                </div>
        
                <div class="campo-label">
                    <input class="form-control form-login" type="password" name="password" id="senha" placeholder="Senha *" [(ngModel)]="userModel.password" >
                </div>
        
                <input id="botao-enviar" class="inputbtn" type="submit" value="Fazer Login">
        
            </form>
            <p class="msgErro" id = mensagem *ngIf="mensagem != '' ">{{ mensagem }}</p>
            <!-- <form (ngSubmit)="receberDados()">
                
            <div class="box-login-cadastro">
                    <div id="arealogin">
                        <h2>LOGIN</h2>
                        <input class="form-control form-login" type="email" id="email" placeholder="E-mail *" aria-label="default input example" [(ngModel)]="userModel.email">
                        <input class="form-control form-login" type="password" id="senha" placeholder="Senha *" aria-label="default input example" [(ngModel)]="userModel.password"><br>
                        <input type="submit" class="inputbtn" type="submit">
                    </div>
                </div>
            </form> -->


            
                <!-- <form action="">
            <div class="boxcad">
                    <div id="areacadastro">
                        <h2>CADASTRO</h2><br>
                        <input class="form-control form-login" type="text" placeholder="E-mail *" aria-label="default input example">
                        <input class="form-control form-login" type="number" placeholder="CPF *" aria-label="default input example">
                        <input class="form-control form-login" type="password" placeholder="Senha *" aria-label="default input example">
                        <input class="form-control form-login" type="password" placeholder="Confirme sua senha *" aria-label="default input example"><br>
                        <button class="inputbtn" type="submit">CADASTRAR</button>
                    </div>
                </div>
            </form> -->
        </div>
    </div>
</div>