#backbody{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-image: linear-gradient(116.09deg, #242f3f 1.32%, #050505 99.98%, rgba(36, 32, 32, 0.166667) 99.99%, rgba(33, 29, 29, 0) 100%);
}

.abalogin{
    display: flex;
}

#titlelogin{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    padding-top: 4%;
    font-size: 15px;
}

#arealogin,
#areacadastro{
    background-color: #276ba2d8;
    color: white;
    font-size: 15px;
    padding: 40px;
    border-radius: 20px;
    width: 530px;
}

.box-login-cadastro,
.boxlogin,
.boxcad{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
    margin-bottom: 3%;
}

.boxlogin{
    padding-left: 30;
}

.boxcad{
    padding-right: 30;
}

.form-login{
    height: 55px;
    margin-top: 20px;
}

.inputbtn{
    background-color: #154369;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    margin-top: 20px;
}

.inputbtn:hover{
    background-color: #043f70;
    padding: 15px;
    border: none;
    width: 100%;
    font-size: 1.3rem;
}

.form-check{
    font-size: 13px;
}

#loginicon img{
    color: black;
    width: 85px;
    padding-right: 2rem;
}
@media screen and (max-width: 1000px) {
    #titlelogin{
        display: flex;
        align-items: flex-end;
        color: white;
        padding-top: 3%;
        padding-left: 8%;
        font-size: 15px;
        position: absolute;
    }
    
    #arealogin,
    #areacadastro{
        background-color: #276ba2d8;
        color: white;
        font-size: 15px;
        padding: 40px;
        border-radius: 20px;
        width: 98%;
    }
    
    .box-login-cadastro,
    .boxlogin,
    .boxcad{
        display: block;
        justify-content: center;
        margin-top: 25%;
        margin-bottom: 3%;
    }
    
    .boxlogin{
        padding-left: 30;
    }
    
    .boxcad{
        padding-right: 30;
    }
    
    .form-login{
        height: 55px;
        margin-top: 20px;
    }
}

.msgErro{
    color: red;
    position: absolute;
}