<div class="abalogin">
    <div id="backbody">
        <div id="titlelogin">
            <a  id="loginicon"><img src="\assets\Images\icons\person-circle.svg" alt="Área do Usuário"></a>
            <h1>ÁREA DE LOGIN/CADASTRO</h1>
        </div>
        <div class="boxlogin">
            <div class="box-login-cadastro">
                    <div id="arealogin">
                        <h2>LOGIN</h2>
                        <input class="form-control form-login" type="text" placeholder="E-mail *" aria-label="default input example">
                        <input class="form-control form-login" type="password" placeholder="Senha *" aria-label="default input example"><br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        Salvar senha
                        </label>
                        <button class="inputbtn">ENTRAR</button>
                    </div>
                </div>
            <div class="boxcad">
                    <div id="areacadastro">
                        <h2>CADASTRO</h2><br>
                        <input class="form-control form-login" type="text" placeholder="E-mail *" aria-label="default input example">
                        <input class="form-control form-login" type="number" placeholder="CPF *" aria-label="default input example">
                        <input class="form-control form-login" type="password" placeholder="Senha *" aria-label="default input example">
                        <input class="form-control form-login" type="password" placeholder="Confirme sua senha *" aria-label="default input example"><br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Confirmo que minhas informações são verdadeiras
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                            Eu li e concordo com as condições de uso
                            </label>
                        </div>
                        <button class="inputbtn">CADASTRAR</button>
                    </div>
                </div>
        </div>
    </div>
</div>