    <!--FOOTER INSCREVER EMAIL-->
    <div class="footermail">
        <div id="receba"><a>Receba ofertas em seu email</a></div>
        <div class="input-group mb-3">
            <input class="form-control me-2" type="text" placeholder="Email" aria-label="Search">
            <input class="form-control me-2" type="text" placeholder="Nome" aria-label="Search">
            <a href="#"><button>CADASTRAR</button></a>
        </div>
    </div>
    <!--FOOTER DE INFORMAÇÕES GERAIS-->
    <div class="footerdiv">
        <ul div="pagdiv">
            <li><h3>Formas de Pagamento</h3></li>
            <li><img class="pagdiv" src="\assets\Images\formas-pagamento.svg">
            <li><h3>Institucional</h3></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Políticas de privacidade</a></li>
            <li><a href="#">Trabalhe conosco</a></li>
            <li><a href="#">Missão, Visão e Valores</a></li>
        </ul>
        <ul class="depdiv">
            <li><h3>Departamentos</h3></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Placas de Vídeo</a></li>
            <li><a href="#">Computadores</a></li>
            <li><a href="#">Monitores</a></li>
            <li><a href="#">Mouse e Teclado</a></li>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Consoles e Games</a></li>
            <li><a href="#">Ver Mais >></a></li>
        </ul>
        <ul class="cttdiv">
            <li><h3>Atendimento</h3></li>
            <li><a>Horário de atendimento</a></li>
            <li><a>7:00 ás 22:00</a></li>
            <li><a>(11) 99999-9999</a></li>
            <li><a>Email:</a></li>
            <li><a>faleconosco@gamemania.com</a></li>
            <li><img src="\assets\Images\seguranca.svg"></li>
        </ul>
        <ul class="clntdiv">
            <li><h3>Cliente</h3></li>
            <li><a href="#">Minha conta</a></li>
            <li><a href="#">Meus pedidos</a></li>
            <li><a href="#">Meus Cupons</a></li>
            <li><a href="#">Meus ticket</a></li>
        </ul>
        <ul class="gamediv">
            <li><a>GAME MANIA COMÉRCIO ELETRÔNICO S/A | Todos os direitos reservados CNPJ: 99.999.999/0009-99<br>
                Avenida Campo Belo, São Paulo - SP - 08999-999</a></li>
        </ul>
    </div>